* { width: 1160px;
   margin:auto;
   align-items: center;
}

.css-selector {
font-family: 'lato', serif;
background-color: #782221;
display: flex;
justify-content: center;
padding: 20px;
}
.css-selector {
  font-family: 'raleway', serif;
  background-color: #782221;
  src: url('fonts/Raleway-Regular.woff2') format('woff2'),
       url('fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    }

.cv-container {
  display: flex;
  width: 1160px;
  background-color: #782221;
  border-right: 5px solid white;
  box-shadow: 0 4px 8px rgba(243, 242, 242, 0.863);
}

h1{color: white;
}
h2{color: white;
}
.Contact{
  display: flex;
  width: 1160px;
  background-color: black;
}
h3{color: black;
  background-color: #dbc2a4;
  background-position: left;
}
h4{color: white;
  background-position: center;
  text-align: center;
  width: 100%;
}

.profile-photo {
  text-align: center;
  margin-bottom: 20px;
  background-color: #782221;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px;
  cursor: zoom-in;
}

.profile-photo img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.personal-info h1 {
  background-color: #782221;  
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.contact {
background-color: white;  
color: black
;
font-size: 24px;
margin-bottom: 10px;
}

.personal-info h2 {
justify-content: center;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #782221;
}
.adresse {
    background-color: black;
    color: white;
    padding: 10px;
       }

.personal-info p a:hover {
  text-decoration: underline;
}

.colonne1 {
   background-color: #782221; 
   width: 30%;
   text-align: left; 
   height: 1000px;
 }
.colonne2 {
   background-color: white; 
   width: 70%;
   text-align: left; 
   height: 1000px;

 }
 .flex{
  display:flex
}

.ul {
  list-style: none;
  margin-bottom: 20px;
}

.ul li {
  margin-bottom: 10px;
}

.hover-effect {
  position: relative;
  padding-right: 20px;
}

.hover-effect:hover::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #782221;
}
.footer {
  background-color: #782221;
  color: white;
  text-align: center;
  padding:auto;
 }
.about p {
  text-indent: 20px;
}

.social-links a {
   margin-right: 10px;
}

.social-links img {
   width: 32px;
   height: 32px;
   src:
}

.social-links img:hover {
   opacity: 0.7;
}

